{% extends "layout.html" %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">TourX</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('destinations') }}">Destinations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('hotels') }}">Hotels</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('flights') }}">Flights</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('bookingdetails') }}">Bookings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('about') }}">About us</a>
        </li>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{{ url_for('profile') }}" id="navbarDarkDropdownMenuLink" role="button" aria-expanded="false">
                    <i class="fa fa-user"></i>
                </a>
                <!-- <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" href="{{ url_for('profile') }}">Profile</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('login') }}" >Login</a></li>
                </ul> -->
            </li>
        </ul>
        </ul>

    </div>
</nav>

<!-- here it will display your booking details.< -->


<form action="/bookings" method="post">
<table>
    <thead>Bookings details</thead>
    <tr>
        <th>Booking ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Booking Date</th>
        <th>Booking Time</th>
    </tr>
    {% for row in rows %}
    <tr>
        <td>{{ row['id'] }}</td>
        <td>{{ row['name'] }}</td>
        <td>{{ row['email'] }}</td>
        <td>{{ row['booking_date'] }}</td>
        <td>{{ row['booking_time'] }}</td>
    </tr>
    {% endfor %}
</table>
<!-- {% for row in rows %}
    <b>Booking ID:</b> {{ row['id'] }} &nbsp;
    <b>Name:</b> {{ row['name'] }} &nbsp;
    <b>Email:</b> {{ row['email'] }} &nbsp;
    <b>Booking Date:</b> {{ row['booking_date'] }} &nbsp;
    <b>Booking Time:</b> {{ row['booking_time'] }}
{% endfor %} -->

<table>
    <thead>Package Details</thead>
    <tr>
        <th>Booking ID</th>
        <th>Package Name</th>
        <th>Place</th>
        <th>No Of Days</th>
    </tr>
    {% for row in rows %}
    <tr>
        <td>{{ row['id'] }}</td>
        <td>{{ row['package_name'] }}</td>
        <td>{{ row['place'] }}</td>
        <td>{{ row['no_of_days'] }}</td>
    </tr>
    {% endfor %}
</table>

<table>
    <thead>Hotel Details</thead>
    <tr>
        <th>Booking ID</th>
        <th>Hotel Category</th>
        <th>Room Type</th>
        <th>No of Guests</th>
        <th>Check In Date</th>
        <th>Check Out Date</th>
    </tr>
    {% for row in rows %}
    <tr>
        <td>{{ row['id'] }}</td>
        <td>{{ row['category'] }}</td>
        <td>{{ row['room_type'] }}</td>
        <td>{{ row['no_of_guests'] }}</td>
        <td>{{ row['check_in_date'] }}</td>
        <td>{{ row['check_out_date'] }}</td>
    </tr>
    {% endfor %}
</table>
        
<table>
    <thead>Flight details</thead>
    <tr>
        <th>Booking ID</th>
        <th>Trip Type</th>
        <th>Class Type</th>
        <th>Departure Date</th>
        <th>Return Date</th>
        <th>No.of passengers</th>
        <th>Source</th>
        <th>Destination</th>
    </tr>
    {% for row in rows %}
    <tr>
        <td>{{ row['id'] }}</td>
        <td>{{ row['trip_type'] }}</td>
        <td>{{ row['class_type'] }}</td>
        <td>{{ row['departure_d'] }}</td>
        <td>{{ row['return_d'] }}</td>
        <td>{{ row['passengers'] }}</td>
        <td>{{ row['source'] }}</td>
        <td>{{ row['destination'] }}</td>
    </tr>
    {% endfor %}
</table>
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2022 Copyright TourX
    </div>
    <!-- Copyright -->
  
  </footer>
</form>

<style>
    tr, th, td {
        border: 1px solid black;
    }
</style>

{% endblock %}