{% extends "layout.html" %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">TourX</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('destinations') }}">Destinations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('flights') }}">Flights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('hotels') }}">Hotels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('bookingdetails') }}">Bookings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('about') }}">About us</a>
        </li>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-user"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="{{ url_for('profile') }}">Profile</a></li>
              <li><a class="dropdown-item" href="{{ url_for('login') }}" >Login</a></li>
            </ul>
          </li>
        </ul>
      </ul>
    
    </div>
</nav>

<!-- <h2 style="text-align: center;">Hotel Rooms</h2> -->
<div style="background-image: url(https://www.hospitality-interiors.net/sites/hospitality-interiors.net/files/styles/article-header/public/images/article/2019/02/ponsfordw.jpg?itok=5Dyf_7R9); height:100vh;">
<div class="container-sm h-100">
  <div class="row justify-content-center">
    <div class="col-sm-9 p-5">
        <form class="row g-3" action="/hotels" method="post">
          
          {% if msg %}
            <div><h4 style="text-align: center; color: white;">{{ msg }}</h4></div>
          {% endif %}

          <div class="col-md-4">
            <label for="inputState" class="form-label">Hotel Category</label>
            <select id="inputState" class="form-select" name="ratings">
              <option selected>--Select--</option>
                <option>5 Stars</option>
                <option>4 Stars</option>
                <option>3 Stars</option>
            </select>
          </div>

          <div class="col-md-4">
            <label for="inputState2" class="form-label">Room Type</label>
            <select id="inputState2" class="form-select" name="room_type">
              <option selected>--Select--</option>
              <option>Luxury</option>
              <option>Deluxe</option> 
              <option>AC</option>
              <option>Non-AC</option>
            </select>
          </div>

          <div class="col-md-4">
            <label for="noOfGuests" class="form-label">No of guests</label>
            <input type="number" class="form-control" id="noOfGuests" name="noOfGuests">
          </div>

          <div class="col-md-4">
            <label for="departure" class="form-label">CheckIn Date</label>
            <input type="date" class="form-control" id="departure" name="checkIn">
          </div>
          
          <div class="col-md-4">
            <label for="return" class="form-label">CheckOut Date</label>
            <input type="date" class="form-control" id="return" name="checkOut">
          </div>

          <div class="col-md-4">
            <label for="noOfDays" class="form-label">No of days</label>
            <input type="number" class="form-control" id="noOfDays" name="noOfDays">
          </div>
          
          <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-primary">Search Hotels</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<table border="1" style="color: white;">
  <thead>
    <td><h3>Hotel ID</h3></td>
    <td><h3>Hotel Name</h3></td>
    <td><h3>Address</h3></td>
    <td><h3>Customer Ratings</h3></td>
    <td><h3>Charges/Day</h3></td>
  </thead>
  {% for row in rows %}
  <tr>
    <td><h3>{{ row['hotel_id'] }}</h3></td>
    <td><h3>{{ row['hotel_name'] }}</h3></td>
    <td><h3>{{ row['address'] }}</h3></td>
    <td><h3>{{ row['cust_ratings'] }}</h3></td>
    <td><h3>{{ row['charges'] }}</h3></td>
  </tr>
  {% endfor %}
  </table>

<style>
  .form-label {
    color: white;
  }
</style>

{% endblock %}