{% extends "layout.html" %}

{% block body %}

<div class="container-sm">
    <div class="row justify-content-center">
        <div class="col-sm-9 p-5">
            <h3>You have logged out successfully!</h3> <br>

            <h4><a href="/login">go back to login page</a></h4> <br>

            <h4><a href="/">go back to home page</a></h4>
        </div>
    </div>
</div>
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2022 Copyright TourX
    </div>
    <!-- Copyright -->
  
  </footer>

{% endblock %}