{% extends "layout.html" %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">TourX</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('destinations') }}">Destinations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('flights') }}">Flights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('hotels') }}">Hotels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('bookingdetails') }}">Bookings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('about') }}">About us</a>
        </li>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-user"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="{{ url_for('profile') }}">Profile</a></li>
              <li><a class="dropdown-item" href="{{ url_for('login') }}" >Login</a></li>
            </ul>
          </li>
        </ul>
      </ul>
    
    </div>
  </nav>

<div class="container-sm">
    <div class="row justify-content-center">
        <div class="col-sm-9 p-5">
          <p><h3>Welcome, {{ session.name }}</h3></p>

          <p><h3>Username:  {{ session.username }}</h3></p>
          <p><h3>Email:  {{ session.email }}</h3></p>

          <h4><a href="/logout" >Log Out</a></h4>
        </div>
    </div>
</div>

{% endblock %}